/*----------------------footer----------------------------*/
  
.footer{
    position: bottom;
    font-size: 13px;
    padding: 0;
    color: white;
    margin: 0 0 0 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    min-height: 2vh;
    font-family:Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    background: linear-gradient(to right, #319799, #5eade6, #948edb);
}
.footer-item a:hover{
    text-decoration: underline;
}
.footer-contact{
    text-align: left;
    border-top: 1px white solid;
    padding: 20px 0 50px 0;
    margin: 0 13%;
}
.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    grid-gap:5rem;
    margin: 0 13%;
    }
    .footer-item{padding:1rem.1rem; margin:0;}
    .footer-item a{
        font-family:Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
        color: white;
        text-align: left;
        text-decoration: none;
        font-size: 13px;
}
.email{float:left;}
.sursum{float:right;}
.sursum img{width:60px;}

/*-------------Tablet setup--------------*/
@media only screen and (min-width: 601px) and (max-width: 800px) {
.footer, .footer-item a{font-size: 12px;}
 .sursum img{width:50px;}
}
/*-------------Mobile setup--------------*/
@media only screen and (max-width: 600px) {
 .footer_paragraph{display:none;}
 .footer, .footer-item a{font-size: 11px;}
 .sursum img{width:45px;}
}
